
.sideBar{
  position: sticky;
  top: 0;
}

.sideBarItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  cursor: pointer;
}

.enabled {
  opacity: 0.3;
}



.logo {
  cursor: auto;
}

.logoutButton {
  margin-top: 5rem;  
}